body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background: #020617;
    color: #f8fafc;
    overflow-x: hidden;
}

/* BACKGROUND CANVAS */
#bg {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}

/* CURSOR */
.cursor {
    width: 15px;
    height: 15px;
    background: #f472b6;
    border-radius: 50%;
    position: fixed;
    pointer-events: none;
    box-shadow: 0 0 20px #f472b6;
}

/* NAV */
nav {
    display: flex;
    justify-content: space-between;
    padding: 20px 60px;
}

nav a {
    margin-left: 20px;
    text-decoration: none;
    color: #cbd5f5;
    transition: 0.3s;
}

nav a:hover {
    color: #f472b6;
}

/* HERO */
.hero {
    text-align: center;
    padding: 120px 20px;
}

/* PROFILE */
.profile {
    
    width: 140px;
    height: 140px;
    border-radius: 50%;
    object-fit: cover;

    border: 3px solid #a78bfa;

    box-shadow:
        0 0 20px rgba(167,139,250,0.6),
        0 0 40px rgba(244,114,182,0.4);

    margin-bottom: 20px;

    transition: 0.4s;
}

/* hover glow */
.profile:hover {
    transform: scale(1.08);
    box-shadow:
        0 0 30px rgba(244,114,182,0.8),
        0 0 60px rgba(167,139,250,0.6);
}
}

/* TEXT GLOW */
.glow {
    font-size: 48px;
    background: linear-gradient(90deg, #a78bfa, #f472b6);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.typing {
    color: #f472b6;
}

/* SECTIONS */
.section {
    padding: 80px 20px;
    text-align: center;
}

/* CARDS */
.cards {
    display: flex;
    justify-content: center;
    gap: 25px;
    flex-wrap: wrap;
    
}

.card {
    width: 260px;
    padding: 20px;
    border-radius: 20px;
    background: rgba(255,255,255,0.05);
    backdrop-filter: blur(15px);
    transition: 0.4s;
    text-decoration: none;
    color:rgb(131, 151, 30);
    position: relative;
}

.card:hover {
    transform: translateY(-15px) scale(1.05);
    box-shadow: 0 0 40px rgba(244,114,182,0.6);
}

/* FORM */
form {
    display: flex;
    flex-direction: column;
    width: 320px;
    margin: auto;
    gap: 10px;
}

input, textarea {
    padding: 12px;
    border-radius: 10px;
    border: none;
    background: rgba(255,255,255,0.08);
    color: white;
}

button {
    padding: 12px;
    border-radius: 10px;
    border: none;
    background: linear-gradient(135deg, #a78bfa, #f472b6);
    color: white;
    cursor: pointer;
}

button:hover {
    box-shadow: 0 0 20px rgba(244,114,182,0.6);
}

/* MESSAGE */
.msg {
    margin-top: 10px;
    color: #a78bfa;
}

/* FOOTER */
footer {
    text-align: center;
    padding: 20px;
}
a{
    color:#a78bfa
}
.card2{
    color:rgb(131, 151, 30);
}
